body {
  position: relative;
}

.main-container {
  background-image: linear-gradient(135deg, var(--bg-gradient-start), var(--bg-gradient-end));
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  position: relative;
  overflow: hidden;
}

.mesh {
  background-image: url('/assets/images/mesh.png');
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.05;
  background-size: 64px;
}

.circle {
  background-color: var(--color-accent);
  opacity: 0.05;
  width: min(100vw, 100vh);
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
}

.circle.one {
  top: 0;
  left: 0;
  transform: translateX(-20%) translateY(-40%);
}

.circle.two {
  bottom: 0;
  right: 0;
  transform: translateX(26%) translateY(76%);
}

.tools-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  margin-top: 40px;
}