body {
  position: relative;
}

.main-container {
  background-image: linear-gradient(135deg, var(--bg-gradient-start), var(--bg-gradient-end));
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.circle {
  background-color: var(--color-accent);
  opacity: 5%;
  width: min(100vw, 100vh);
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: fixed;
}

.circle.one {
  top: 0;
  left: 0;
  transform: translateX(-20%) translateY(-40%);
}

.circle.two {
  bottom: 0;
  right: 0;
  transform: translateX(26%) translateY(76%);
}